.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.houseimg {
  position: absolute;
  width: 500px;
  left: 40px;
}

.houseCard {
  flex-flow: column wrap;
}

.navbar {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp7558470.jpg&f=1&nofb=1&ipt=237a99299334d5f61920d80f20266afe0da21a167947ce3f2ccfdf76e44b019d&ipo=images");
}

.houseCard img {
  width: 500px;
}

.houseform {
  position: absolute;
  left: 600px;
  top: 50px;
  width: 50%;
}

.houseform * {
  margin: 1px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}